/.vscode
# ignore special directory for development
/playground/*
# exception to the rule
!playground/.gitkeep 

*.dot
*.svg
# exclude OPOSSUM model files
*.opm
# include dot files in /files_for_testing/*
!/files_for_testing/**
!/logo/**
