/target
/coverage
/.vscode
/.claude
/doc/book/book/
/opossum_core/playground/*
/opossum_gui/assets/examples/
/opm_examples
# exception to the rule
!playground/.gitkeep 
.VSCodeCounter
*.wxs
profile.json.*
profile.kernel.etl
CLAUDE.md

