/target
/.vscode
/book/book
/book
# ignore special directory for development
/playground

*.dot
*.svg
# exclude OPOSSUM model files
*.opm
# include dot files in /files_for_testing/*
!/files_for_testing/**
!/logo/**
