/* styles.css */
html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Arial;
}

/* Linke Menüleiste */

/* Rechte Drag-and-Drop-Fläche */
.drop-container {
    flex-grow: 1;
    position: relative;
    background-color: #414141;
    padding: 10px;
    display: flex;
    align-items: stretch;
    padding: 0;
}

.context-menu-item {
    margin: 1px;
    padding: 3px 1px 0px 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    border-radius: 3px;
}

.context-menu-item:hover {
    cursor: pointer;
    background-color: #525252;

}

#context-menu {
    position: absolute;
    background: #303030;
    border: 1px solid gray;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-size: 10pt;
    z-index: 100000000000000;
}

.graph-hierarchy {
    padding: 10px;
    display: flex;
    gap: 10px;
}

.prevent-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#node_drop_down_menu {
    max-height: 500px;
    overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(39, 39, 39);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(82, 82, 82);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
}


/* Drag-Objekt */
.draggable {
    /* line-height: 61.8px; */
    position: relative;
}

.node-content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.node-body {
    position: relative;
    width: 100%;
}

.node-header {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgb(120, 120, 120);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    background-color: rgb(85, 85, 85);
    border-radius: 9px 9px 0px 0px;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    white-space: nowrap;
    /* Kein Zeilenumbruch */
}


.node-header:active {
    cursor: grabbing;
}

.node {
    position: absolute;
    border: 1px solid rgb(120, 120, 120);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 4px 4px;
    background-color: rgb(39, 39, 39);
    ;
}

.node:not(.active-node):hover {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3), 0 0 10px #87c5f8;
}


.active-node {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3), 0 0 10px #87c5f8;
}

.port {
    position: absolute;
    border-radius: 30%;
    border: 1px solid rgb(120, 120, 120);
    cursor: pointer;
}

.output-port {
    background-color: rgba(206, 255, 208);
}

.input-port {
    background-color: rgb(197, 216, 255);
}

.plottt {
    height: 400px;
    width: 500px;
}

.log-container {
    z-index: 99999;
    height: 120px;
    overflow-y: scroll;
    border-left: 1px solid rgb(66, 66, 66);
    border-top: 1px solid rgb(66, 66, 66);
    padding: 10px;
    background-color: rgb(39, 39, 39);
    color: #fff;
    font-family: monospace;
    width: calc(100%-10px);
}

.log-entry {
    margin: 5px 0;
}

.node_attributes {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.node_attributes input {
    position: relative;
    top: 2px;
}

path {
    /* stroke-width: 2; */
    transition: stroke-width 0.1s, filter 0.1s;
}

path:hover {
    /* stroke-width: 3; */
    cursor: pointer;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}

.canvas-container {
    width: 100%;
    height: 100%;
    background-color: red;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.property-config-window {
    max-width: 250px;
    width: 25%;
    min-width: 100px;
    background-color: rgb(39, 39, 39);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    z-index: 100000;
    height: 100%;

}

.col-flex {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    /* Stellt sicher, dass die Kinder untereinander liegen */
}

.row-flex {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    /* Stellt sicher, dass die Kinder untereinander liegen */
}

/* Allgemeiner Stil für das Layout */
.container {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    /* Stellt sicher, dass die Kinder untereinander liegen */
    overflow: hidden;
}

.container>* {
    width: 100%;
    /* Alle direkten Kinder des Containers nehmen die volle Breite ein */
}

.title-bar {
    z-index: 1000000000;
    position: relative;
    max-height: 30px;
    flex-grow: 1;
    display: flex;
    background-color: rgb(39, 39, 39);
    margin: 0;
    border-bottom: 1px solid rgb(66, 66, 66);

}

#title-bar-icon {
    padding: 0px 10px 0px 10px;
    background-color: rgb(105, 105, 105);
    margin: 0 5px 0 5px;
    box-shadow: inset 0 0px 7px 7px rgb(37, 37, 37);
    max-height: 90%;
    object-fit: contain;
}

.title-bar-item:hover {
    background-color: rgb(56, 56, 56);
    border-radius: 4px;
}

.title-bar-submenu-item {
    cursor: pointer;
    color: white;
    padding: 0;
    text-decoration: none;
    display: block;
    position: relative;
}

.title-bar-item {
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(207, 207, 207);
    justify-content: center;
    font-size: 10pt;
    cursor: context-menu;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 10pt;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    background-color: #303030;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-size: 10pt;
    border-radius: 5px;
    border: 1px solid rgb(100, 100, 100);
}

.dropdown-content:not(.submenu) {
    display: none;
    position: absolute;
}

.dropdown-content a {
    position: relative;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #5a5a5a;
}

.dropdown:hover .dropdown-content:not(.submenu) {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown-content .expand:hover .submenu {
    display: block;
}

.dropdown-content .submenu {
    display: none;
    left: 100%;
    top: -1px;
    margin: 0;
    position: absolute;
    background-color: #303030;
}

.submenu a {
    position: relative;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.title-bar-dropdown-content {
    margin: 5px 0px 5px -10px;
}

.dropdown:hover .title-bar-dropdown-content:not(.submenu) {
    display: block;
}

.title-bar-control {
    float: right;
    display: flex;
    align-items: center;
}

.menu-group {
    display: flex;
    max-height: 100%;
    align-items: center;
}

#menu-window-events {
    display: flex;
    flex-grow: 1;
}

/* Die rechte Gruppe nach rechts schieben */
.menu-right {
    margin-left: auto;
    max-height: 100%;
    align-items: center;
}

#minimize,
#maximize,
#restore #close {
    max-height: 90%;
}