.dropdown-menu li {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    position: absolute;
    top: -1px;
    left: 100%;
    display: none;

    min-width: 180px;

    max-height: 400px;
    overflow-y: auto;

    margin-left: -1px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.custom-scroll {
    overflow-y: scroll;
    scrollbar-color: rgb(39, 39, 39) rgb(204, 204, 204);
    scrollbar-width: thin;
}
